
/******** General Styles ********/

* {
  box-sizing: border-box;
}

body {
    background: linear-gradient(#5b86e5, #bbc4ef);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

h1 {
    color: #2b2b2b;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

p {
    color: #4c4c4c;
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    font-size: 24px;
}

input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
}

/**** Card styles ****/
.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 9px 0 rgba(23,28,33,.06);
    max-width: 850px;
}

    .card_image {
        max-width: 280px;
    }

    .card_content {
        padding: 20px 40px;
    }

        .social-media {
            display: flex;
            max-height: 25px;
        }

            .social-media_icon {
                margin-right: 18px;
            }


/**** Form styles ****/
.card_form input {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
